<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>

		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>

		<div class="container">
    		{{ content }}
		</div><!-- /.container -->

		<footer>

    		<ul>
        		<li><a href="mailto:dineshnagarit@gmail.com">email:</a></li>
        		<li><a target="_blank" href="#">dineshnagarit@gmail.com</a></li>
			</ul>

			<ul>
        		<li><a href="mailto:dineshnagarit@gmail.com">twitter:</a></li>
        		<li><a  target="_blank" href="https://twitter.com/DineshNaagar">twitter.com/DineshNaagar</a></li>
			</ul>

			<ul>
        		<li><a href="mailto:dineshnagarit@gmail.com">stackoverflow:</a></li>
        		<li><a  target="_blank" href="http://stackoverflow.com/users/2555207/dinesh-nagar">stackoverflow.com/users/2555207/dinesh-nagar</a></li>
			</ul>

			<ul>
        		<li><a href="mailto:dineshnagarit@gmail.com">linkedin:</a></li>
        		<li><a  target="_blank" href="https://in.linkedin.com/in/dineshnagarit">in.linkedin.com/in/dineshnagarit</a></li>
			</ul>
			
		</footer>

	</body>
</html>